apiVersion: v1
kind: Service
metadata:
  name: httpd-service
  namespace: httpd
spec:
  type: NodePort
  selector:
    app: simple-httpd
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 30080
